# This file contains the required Python packages for the Mamba & Jamba lab.
# To install them, run the following command in your terminal:
# pip install -r requirements.txt

openai
python-dotenv
ipykernel

# Dependencies for the Hugging Face Jamba lab
transformers
torch
accelerate
bitsandbytes
